/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */

 html, body {
  background-color: beige;
  width: 100%;
  height: 100%;

}

#map {
    width: 30%;
    min-width: 400px;
    height: 70%;
    border: solid;
    margin: 10px;
    padding: 10px;
}

h1 {
  text-align: center;
  text-transform: uppercase;
  color: #4CAF50;
}

h3 {
  color: red;
  text-align: justify;
}

label {
  color: black;
}

.group {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
}

.button {
  background-color: #4CAF50; /* Green */
  border: 1px solid green;
  color: white;
  padding: 17px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  width: 100%;
  display: block;
  text-align: left;
  margin: 2px;
}

.btn-group .button:not(:last-child) {
  border-bottom: none; /* Prevent double borders */
}

.btn-group .button:hover {
  background-color: #3e8e41;
}

.btn-group {
  margin: 10px;
  width: 30%;
  height: 70%;
  min-width: 400px;
  padding: 10px;
}

.info-card {
  background-color: antiquewhite;
  border: solid;
  width: 30%;
  height: 68%;
  margin: 10px;
  min-width: 400px;
  padding: 10px;
}

.disclaimer > p {
  width: 100%;
  margin: 10px;
  padding: 10px;
  color: blue;
  font-size: 20px;
}

span {
  font-size: 10vw;
}

/*
@media only screen and (max-width: 480px) {
    #map {
        width: 100%;
        height: 50%;
    }
    .btn-group {
        width: 100%;
        height: 100%;
    }
}
*/